# Shortcuts
alias home="cd ~"
alias ..="cd ../"
alias ...="cd ../../"
alias dev="cd ~/devmynd"
alias sas="cd ~/sasha"

# Projects Shortcuts
alias nex="cd ~/devmynd/nex"

alias s="subl"
alias als="$EDITOR ~/.aliases"
alias be="bundle exec "
alias la="ls -a"
alias ll="ls -la"
alias tlog="tail -f log/development.log"
alias aliasup="source ~/.aliases"
alias zshup="source ~/.zshrc ; echo '...sourced zsh...'"
alias castle="s /Users/sasha/.homesick/repos/castle/"

# Application Shortcuts
alias f="open -a Finder ./"
alias turnt="gosleap"
alias hi="turnt"
alias xcode="open -a Xcode"
alias webstorm="open -a Webstorm"

# Git
alias gs="git status"
alias st="gs"
alias gap="git add . -p"
alias gcm="git commit -m"
alias glog="git log --oneline -20"
alias q="exit"
alias gpr="git pull --rebase"

# Derps
alias bindle="bundle"
alias bundke="bundle"
alias bundel="bundle"
alias exut="exit"
alias rials="rails"
alias gti="git"
alias rkae="be rake"

# Rails
alias rspec="be rspec"
alias r="be rspec"
alias br="bin/rspec"
alias migrate="rails db:migrate db:test:prepare"
alias grate="migrate"
alias rollback="rails db:rollback"
alias prepare="rails db:test:prepare"
alias rs="rails server"
alias rc="rails console"
alias c="rc"
alias seed="rails db:seed"
alias create="rails db:create"
alias routes="rake routes"
alias rude="rubocop -a"
alias ftp="rubocop -a && rake"
alias ruborake="ftp"
alias bi="bundle install"
alias ni="npm install"
alias setenv="bin/rails db:environment:set RAILS_ENV=development"

# POSTGRES
alias pg_start="pg_ctl -D /usr/local/var/postgres start"
alias pg_stop="pg_ctl -D /usr/local/var/postgres stop -s -m fast"
alias pg_status="pg_ctl -D /usr/local/var/postgres status"
alias pg_broken="rm -rf /usr/local/var/postgres && initdb /usr/local/var/postgres -E utf8"

# HEROKU
alias herorun="heroku run rails console"
alias hrun="herorun"

# Scheme
alias scheme="rlwrap -r -c -f /Users/sasha/Devdocs/mit_scheme_bindings.txt scheme"

# Yarn
alias ys="yarn start"
