function f {
  if [ -n "$1" ]; then
    history | grep "$1"
  else
    history
  fi
}

function o {
  if [ -n "$1" ]; then
    open "$1"
  else
    open .
  fi
}

function a {
  less ~/.aliases
}

function func {
  less ~/.functions
}

# project root
function pr {
  local dir="$PWD"

  until [[ -z "$dir" ]]; do
    if [ -d ./.git ]; then
      break
    else
      cd ..
    fi
    dir="${dir%/*}"
  done
}
